
NETWORK=testnet
ADDRESS=0x...
PACKAGE_ID=0x...
# Your Sui wallet private key (BASE64 format)
# Get it from: sui keytool export --key-identity <address> 
# Then copy the suipriv.. shown as outcome
# Then convert it into BASE64 via: sui keytool convert suipriv...
SECRET_KEY=...