ENOKI_PRIVATE_KEY=
NEXT_PUBLIC_ENOKI_API_KEY=
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_SUI_NETWORK_NAME=testnet
NEXT_PUBLIC_PACKAGE_ADDRESS=0x3507e8f5b95da811a24dda410074eeaa8a118ccdfcedbc1b7712371ab9ec7939
NEXT_PUBLIC_COUNTER_OBJECT_ID=0x92c3664fadfb80bd731565bfafc628c74cac4ee192246daaa0603bb3ede7fcf5