# App Config
VITE_NETWORK= # currently supporting only: "devnet"
VITE_SUI_GRPC_URL=https://fullnode.devnet.sui.io:443
VITE_SALT= # unique random value to generate the ZK Proof Address, in 16-bit numbers, e.g.: 248191903847969014646285995941615069143
VITE_EPHEMERAL_KEY_DURATION_EPOCHS= # the duration (in epochs) within the generated ephemeral key is valid, e.g.: 2

# OAuth Config
VITE_OAUTH_PROVIDER_NAME= # oauth provider name: GOOGLE, APPLE, ...
VITE_OAUTH_CLIENT_ID= # oauth provider URL, e.g.: https:// __CLIENT_ID__.apps.googleusercontent.com
